<!DOCTYPE html>
<html lang="PT-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">


    <title>Portal-intranet</title>

</head>
<body>
    <section class="area-login" >
        <div class="login">
            <div>
                <img src="../public/img/ldr.png" >
            </div>

            <form action="" method="post">
                <input type="text" name="nome" placeholder="Nome de Usuario" autofocus />
                <input type="password" name="senha" placeholder="Senha"  />
                <input type="submit" value="entrar" />
            </form>
            <p>Desenvolvido por equipe X</p>


        </div>




    </section>




</body>
</html>